@charset "utf-8";
@import url("font.css");
html, body, talbe, th, td, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, select, blockquote, span, * {
	font-family: 'Noto Sans KR', sans-serif;
}
body { width:98vw; height:100vh; margin:0 auto; display:grid; grid-template-rows: 100px auto 50px; } 
header,section,article,aside,footer,main,a,button,input,textarea,img,nav,ul,ol,li,p,h1,h2,h3,h4,h5,h6,div,span { margin:0; padding:0; font-size:inherit; }
a:active, a:hover { outline:none; } 
a { color:#1e87f0; text-decoration:none; cursor:pointer; }
a:hover { color:#0f6ecd; text-decoration:underline; }
b, strong { font-weight:bolder; }

ul, ol { list-style:none; margin:0px; padding:0px; max-width:300px; width:100%; }
ul li, ol li { margin-bottom:5px; border-bottom:1px solid #efefef; /*font-size:12px;*/ }
ul li:before, ol li:before { content:""; display:inline-block; vertical-align:middle; padding:0px 5px 6px 0px; }

header > h1 { font-size: 36px; text-align: center; margin-top: 30px; font-weight: 400; }

.sub_title { position:absolute; margin:8px 0 0 10px; }
.ext_operation_are { text-align:right; }
.ext_operation_are > .negative_manual { display: inline-block !important; width:45% !important; }
.ext_operation_are > select { display: inline-block !important; width:130px !important; }
.ext_operation_are > button { vertical-align: top !important; }

.section_area { display:flex; flex-direction:row; }
.section_area > div { width:50%;margin-top:30px; }
.section_area > div:first-child { margin-top:50px; }
.before_number_area th { text-align:center; }
.before_number_area p { text-align:right; }

.extraction_area > p { text-align:center; color:#ccc; }
.extraction_area > ul { margin:0 auto; }
.extraction_area > ul > li { width:fit-content; margin:auto; padding:5px; }
.extraction_area > ul > li > span { display:inline-block; width:40px; text-align:center; }
.extraction_area > ul > li .dec { color:#ca520c; }
.extraction_area > ul > li .com { color:#9d3eaa; }
.extraction_area > ul > li .sos { color:#439cbe; }

#getApiModal > .modal-dialog > .modal-content > .modal-header > .modal-title > .drwNo { display:inline-block; width:80px; padding:0.275rem 0.75rem; margin:0 5px 0 10px; }
#getApiModal > .modal-dialog > .modal-content > .modal-header > .modal-title > button { margin-bottom: 5px; }
.w80 { width:80px }
.w100 { width:100px }
.tCenter { text-align:center; }

@media (max-width: 700px) { 
	.sub_title { position:inherit; }
	.ext_operation_are>.negative_manual { width:40%!important; }
	.ext_operation_are>select { width: 110px!important; }
	.section_area { flex-direction:column; }
	.section_area > div { width:100%; }
	.before_number_area th { font-size:13px; }
	.before_number_area td { font-size:11px; }
} 